---
export const FADE_DURATION = 15;
---

<style define:vars={{ duration: `${FADE_DURATION}s` }} is:global>
  @keyframes sendOff {
    0% {
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(0, -30vh) scale(0);
    }
  }

  @keyframes buttonPress {
    0% {
      box-shadow: inset 0 -0.25rem 0.5rem rgba(15, 15, 15, 0.5);
    }
    25%,
    75% {
      box-shadow: inset 0 0.25rem 0.25rem rgba(15, 15, 15, 0.25);
    }
    100% {
      box-shadow: inset 0 -0.25rem 0.5rem rgba(15, 15, 15, 0.5);
    }
  }

  .holler {
    box-sizing: border-box;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 7fr 3fr;
    overflow: hidden;
  }

  .holler * {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  #holler-fade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
  }

  #holler-fade .hollered {
    width: 100%;
    transform-origin: center;
  }

  #holler-fade .hollered.fading {
    animation: sendOff var(--duration) forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  #holler-dashboard {
    background-color: slategray;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 5% 3%;
    box-shadow: inset 0px 8px 24px 0px rgba(15, 15, 15, 0.7);
  }

  #holler-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  #holler-input {
    background: none;
    box-shadow: none;
    border: none;
    text-align: center;
    padding: 0 1vw;
    width: 100%;
    box-sizing: border-box;
    resize: none;
  }

  #holler-input:focus {
    outline: none;
  }

  #holler-button {
    background-color: firebrick;
    border-radius: 1.5rem;
    box-shadow: inset 0 -0.25rem 0.5rem rgba(15, 15, 15, 0.5);
    border: none;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
  }

  #holler-button:focus-within {
    outline-color: orangered;
    filter: brightness(1.05);
    transition: filter 0.3s ease;
  }

  #holler-button.active {
    animation: buttonPress 0.5s forwards;
    transition: all 0.3s ease;
  }

  @media screen and (orientation: landscape) {
    #holler-dashboard {
      grid-template-rows: auto 7rem;
    }
  }
</style>
<astro-holler class="holler" data-fade={FADE_DURATION}>
  <div id="holler-fade"></div>
  <div id="holler-dashboard">
    <form id="holler-form">
      <input
        id="holler-input"
        name="words"
        autocomplete="off"
        value="Type here and hit enter!"
      />
      <button id="holler-button" type="submit">Holler!</button>
    </form>
  </div>
</astro-holler>

<script>
  class Holler extends HTMLElement {
    constructor() {
      super();

      const form = document.getElementById("holler-form");
      const input = document.getElementById("holler-input");
      const hollerBtn = document.getElementById("holler-button");
      const fade = document.getElementById("holler-fade");
      const duration = parseInt(this.dataset.fade || "3");
      if (!input || !form || !hollerBtn || !fade) return;

      let words = "";

      input.select();

      input.addEventListener("input", function (e) {
        console.log(e);
        words = e.target.value || "";
      });

      input.addEventListener("focus", function (e) {
        e.target.select();
      });

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        const span = document.createElement("span");
        span.innerHTML = String(words);
        span.classList.add("hollered");
        fade.appendChild(span);

        input.value = "";
        words = "";

        span.classList.add("fading");
        setTimeout(function () {
          span.remove();
        }, duration * 1000);
      });

      hollerBtn.addEventListener("click", function (e) {
        hollerBtn.classList.add("active");
        input.focus();
        setTimeout(function () {
          hollerBtn.classList.remove("active");
        }, 1000);
      });
    }
  }
  customElements.define("astro-holler", Holler);
</script>
