---

---

<style is:global>
  @keyframes sendOff {
    0% {
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(0, -30vh) scale(0);
    }
  }

  @keyframes buttonPress {
    0% {
      box-shadow: inset 0 -0.25rem 0.5rem rgba(15, 15, 15, 0.5);
    }
    25%,
    75% {
      box-shadow: inset 0 0.25rem 0.25rem rgba(15, 15, 15, 0.25);
    }
    100% {
      box-shadow: inset 0 -0.25rem 0.5rem rgba(15, 15, 15, 0.5);
    }
  }

  .holler {
    box-sizing: border-box;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
  }

  .holler * {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  #holler-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 2rem;
  }

  #holler-fade .hollered {
    transform-origin: center;
    max-width: 100%;
    text-align: center;
  }

  #holler-fade .hollered.fading {
    animation: sendOff var(--duration) forwards;
    animation-timing-function: cubic-bezier(0.28, 0.67, 0.81, 0.55);
  }

  #holler-dashboard {
    background-color: rgba(250, 250, 250, 0.2);
    border-radius: 2rem;
    display: flex;
    max-height: 80%;
    justify-content: start;
    align-items: stretch;
    flex-direction: column;
    gap: 1rem;
    padding: 5%;
    box-shadow: inset 0px 8px 24px 0px rgba(15, 15, 15, 0.7);
  }

  #holler-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0.2rem dashed rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 100%;
    min-height: 30vh;
    border-radius: 1.5rem;
    padding: 2rem;
  }

  #holler-input {
    background: none;
    box-shadow: none;
    border: none;
    text-align: center;
    padding: 0 1vw;
    width: 100%;
    box-sizing: border-box;
    resize: none;
  }

  #holler-input:focus {
    outline: none;
  }

  #holler-button {
    background-color: firebrick;
    border-radius: 1rem;
    box-shadow: inset 0 -0.25rem 0.5rem rgba(15, 15, 15, 0.5);
    border: none;
    padding: 1.2rem 2rem;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
  }

  #holler-button:focus-within {
    outline-color: orangered;
    filter: brightness(1.05);
    transition: filter 0.3s ease;
  }

  #holler-button.active {
    animation: buttonPress 0.5s forwards;
    transition: all 0.3s ease;
  }

  @media screen and (orientation: landscape) {
    .holler {
      padding: 5vw 15vw;
    }
    #holler-dashboard {
      padding: 2.5vw;
    }
    #holler-fade {
      padding: 7.5vw;
    }
  }
</style>
<astro-holler class="holler">
  <div id="holler-fade"></div>
  <div id="holler-dashboard">
    <form id="holler-form">
      <input
        id="holler-input"
        name="words"
        autocomplete="off"
        value="Type here and hit enter!"
      />
      <button id="holler-button" type="submit">Holler!</button>
    </form>
  </div>
</astro-holler>

<script>
  const FADE_DURATION = 3;
  class Holler extends HTMLElement {
    constructor() {
      super();

      const container = this;
      const form = document.getElementById("holler-form");
      const input = document.getElementById("holler-input");
      const hollerBtn = document.getElementById("holler-button");
      const fade = document.getElementById("holler-fade");
      if (!input || !form || !hollerBtn || !fade) return;

      let words = input.value;
      fade.style.setProperty("--duration", `${FADE_DURATION}s`);

      input.addEventListener("change", function (e) {
        words = e.target.value || "";
      });

      input.addEventListener("focus", function (e) {
        e.target.select();
        scrollToForm();
      });

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        if (words === "") {
          animateBtnPress();
          return;
        }
        const span = document.createElement("span");
        span.innerHTML = String(words);
        span.classList.add("hollered");
        fade.appendChild(span);

        input.value = "";
        words = "";

        span.classList.add("fading");
        setTimeout(function () {
          span.remove();
        }, FADE_DURATION * 1000);
      });

      hollerBtn.addEventListener("click", animateBtnPress);

      input.dispatchEvent(new Event("focus"));

      function animateBtnPress() {
        if (input) {
          input.focus();
        }
        if (!hollerBtn) return;
        hollerBtn.classList.add("active");
        setTimeout(function () {
          hollerBtn.classList.remove("active");
        }, 1000);
      }
      function scrollToForm() {
        if (!input) return;
        const y = input.clientTop;
        window.scrollTo({ top: y });
      }
    }
  }
  customElements.define("astro-holler", Holler);
</script>
