---
import { FADE_DURATION } from "../config";
---

<style define:vars={{ duration: `${FADE_DURATION}s` }} is:global>
  @keyframes sendOff {
    0% {
      opacity: 1;
      transform: translate(-50%, 0) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -25vh) scale(0);
    }
  }

  .holler {
    box-sizing: border-box;
    color: honeydew;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90vw;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .holler * {
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-family: "Opus One";
  }

  #holler-fade {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #holler-fade .hollered {
    position: absolute;
    top: -1rem;
    left: 50%;
    width: 100%;
    transform-origin: center;
  }

  #holler-fade .hollered.fading {
    animation: sendOff var(--duration) forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  #holler-input {
    background: none;
    box-shadow: none;
    border: none;
    color: honeydew;
    text-align: center;
    padding: 0 1vw;
    width: 100%;
    box-sizing: border-box;
  }

  #holler-input:focus {
    outline: none;
  }
</style>
<astro-holler class="holler" data-fade={FADE_DURATION}>
  <div id="holler-fade"></div>
  <form id="holler-form">
    <input
      id="holler-input"
      type="text"
      name="words"
      autocomplete="off"
      value="Type here and hit enter!"
    />
  </form>
</astro-holler>
<script>
  class Holler extends HTMLElement {
    constructor() {
      super();

      const form = document.getElementById("holler-form");
      const input = document.getElementById("holler-input");
      const fade = document.getElementById("holler-fade");
      const duration = parseInt(this.dataset.fade || "3");
      if (!input || !form || !fade) return;

      let words = "";

      input.addEventListener("change", function (e) {
        words = e.target.value || "";
      });

      input.addEventListener("focus", function (e) {
        e.target.select();
      });

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        const span = document.createElement("span");
        span.innerHTML = String(words);
        span.classList.add("hollered");
        fade.appendChild(span);

        input.value = "";
        words = "";

        span.classList.add("fading");
        setTimeout(function () {
          span.remove();
        }, duration * 1000);
      });
    }
  }
  customElements.define("astro-holler", Holler);
</script>
