---
export const FADE_DURATION = 15;
---

<style define:vars={{ duration: `${FADE_DURATION}s` }} is:global>
  @keyframes sendOff {
    0% {
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(0, -30vh) scale(0);
    }
  }

  .holler {
    box-sizing: border-box;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: grid;
    grid-template-rows: auto 10rem;
  }

  .holler * {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  #holler-fade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
  }

  #holler-fade .hollered {
    width: 100%;
    transform-origin: center;
  }

  #holler-fade .hollered.fading {
    animation: sendOff var(--duration) forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  #holler-dashboard {
    background-color: slategrey;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    box-shadow: inset 0px 8px 24px 0px rgba(15, 15, 15, 0.7);
  }

  #holler-input {
    background: none;
    box-shadow: none;
    border: none;
    text-align: center;
    padding: 0 1vw;
    width: 100%;
    box-sizing: border-box;
    resize: none;
  }

  #holler-input:focus {
    outline: none;
  }
</style>
<astro-holler class="holler" data-fade={FADE_DURATION}>
  <div id="holler-fade"></div>
  <div id="holler-dashboard">
    <textarea id="holler-input" name="words" autocomplete="off"
      >Type here and hit enter!</textarea
    >
  </div>
</astro-holler>
<script>
  class Holler extends HTMLElement {
    constructor() {
      super();

      const input = document.getElementById("holler-input");
      const fade = document.getElementById("holler-fade");
      const duration = parseInt(this.dataset.fade || "3");
      if (!input || !fade) return;

      let words = "";

      input.addEventListener("input", function (e) {
        console.log(e);
        words = e.target.value || "";
      });

      input.addEventListener("focus", function (e) {
        e.target.select();
      });

      input.addEventListener("keydown", function (e) {
        if (e.code != "Enter") {
          return;
        }
        e.preventDefault();
        const span = document.createElement("span");
        span.innerHTML = String(words);
        span.classList.add("hollered");
        fade.appendChild(span);

        input.value = "";
        words = "";

        span.classList.add("fading");
        setTimeout(function () {
          span.remove();
        }, duration * 1000);
      });
    }
  }
  customElements.define("astro-holler", Holler);
</script>
