---

---

<style>
  #scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
<div id="scene"></div>
<script>
  import Scene from "../classes/Scene";

  const container = document.getElementById("scene");
  const width = container.clientWidth;
  const height = container.clientHeight;
  const scene = new Scene({
    container,
    width,
    height,
    fov: 18,
    cameraDistance: 5,
    aspectRatio: width / height,
  });

  document.addEventListener("visibilitychange", function () {
    if (document.hidden) {
      scene.stopParticleSystem();
      return;
    }
    if (scene.particleInterval === null) {
      scene.startParticleSystem();
    }
  });

  scene.render();
</script>
