---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" /><meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="preload"
      href="/fonts/OpusOne-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>
  <body>
    <slot />
    <footer>
      <p>
        <a href="https://freesound.org/s/85896/" target="_blank"
          >HAH! 00.wav by sandyrb</a
        > -- License: Attribution 4.0
      </p>
    </footer>
  </body>
  <style is:global>
    @font-face {
      font-family: "Opus One";
      src:
        url("./fonts/OpusOne-Regular.woff2") format("woff2"),
        url("./fonts/OpusOne-Regular.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

    html,
    body {
      padding: 0;
      margin: 0;
      width: 100svw;
      min-height: 100vh;
      height: 100%;
      box-sizing: border-box;
      background-color: black;
      overflow-x: hidden;
    }

    body * {
      font-family: "Opus One";
      color: ghostwhite;
      box-sizing: border-box;
    }

    footer {
      box-sizing: border-box;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      background-color: rgba(100, 100, 100, 0.4);
    }

    footer * {
      color: slateblue;
    }
  </style>
</html>
